[submodule "cmake/nicemake"]
	path = cmake/nicemake
	url = https://github.com/fkutzner/NiceMake.git
[submodule "llvm/current"]
	path = llvm/current
	url = https://github.com/llvm-mirror/llvm.git
[submodule "analysis/sfs"]
	path = analysis/sfs
	url = https://github.com/hotpeperoncino/sfs.git
[submodule "repos/fmt"]
	path = repos/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "cmake/cmake_git_clone"]
	path = cmake/cmake_git_clone
	url = https://github.com/tschuchortdev/cmake_git_clone.git
[submodule "analysis/Sea-Dsa"]
	path = analysis/Sea-Dsa
	url = http://knorr.global:8080/tfs/private/_git/Sea-Dsa
