.vs/
out/
cmake-build/
.github/
llvm_version/*/
libraries/llvm/build
out/
build/
__tmp/
CMakeCache.txt

#build files
**/*.o
**/*.o.bc
**/*.log
**/*.0
**/*.1
**/*.lo
**/*.Plo
**/*.Po
/tools/BUILD_LLVM/do_nothing_current.h
/tools/BUILD_LLVM/do_nothing_release_40.h
/tools/BUILD_LLVM/do_nothing_release_50.h
/tools/BUILD_LLVM/do_nothing_release_90.h

LLVMVersionConfig.cmake
/MACROLIST_GEN/.idea
/MACROLIST_GEN/.idea
mac_bc_build/config.conf
/.idea
/analyse/.gradle
/analyse/.idea
/analyse/gradle/wrapper

*.svg
*.eps
*.pdf
*.json
!/analyse/*final.json
!/analyse/*opt.json