[submodule "analysis/Sea-Dsa"]
	path = analysis/Sea-Dsa
	url = ../SeaDSA.git
[submodule "bc_sources"]
	path = bc_sources
	url = ../bc_sources.git
[submodule "repos/rapidjson"]
	path = repos/rapidjson
	url = https://github.com/Tencent/rapidjson.git
